%h1= @movie.title
.jumbotron
  = @movie.description
  %p= @movie.plot
  %p= 'Rating: ' + @movie.rating
  %img.img-rounded{ src: @movie.cover, style: 'width: 100px; height: 150px;' }
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
